#Container {
    flex-direction: row;
    flex-grow: 1;
    background-color: #a00;
}

.Column {
    flex-direction: column;
    align-items: center;
    border-color: #ffffff;
    border-width: 1px;
}